<div class="row">
    <div class="col-xs-12">
         <form class="row">
            <div class="col-sm-5 form-group">
                <label for="" class="form-label">Name</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="col-sm-2 form-group">
                <label for="" class="form-label">Amount</label>
                <input type="number" name="amount" id="amount" class="form-control">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Add</button>
                    <button class="btn btn-info" type="button">Edit</button>
                   <button class="btn btn-danger" type="button">Clear</button>
               </div>
            </div>
         </form>
    </div>
</div>